@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: pixel;
  src: url("/fonts/PixelOperator.ttf") format("truetype");
}

@font-face {
  font-family: pixel-bold;
  src: url("/fonts/PixelOperator-Bold.ttf") format("truetype");
}

@layer base {
  html {
    @apply scroll-smooth text-tertiary font-primary;
  }
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h2 {
  @apply text-tertiary font-primaryBold text-[32px];
}

/* ToggleSwitch */
.thumbTranslate {
  transform: translateX(70px);
}

/* scratchoff */
.landing {
  width: 100%;
  height: 100%;
  background: white;
  background-size: 30px 30px;
  background-blend-mode: difference;
  overflow: hidden;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

/* span {
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  background: red;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  pointer-events: none;
  border-radius: 50%;
} */

.cursor {
  background-color: black;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
}
